dist: xenial
group: edge
os:
    - linux
    # travis does not support python on osx yet (https://github.com/travis-ci/travis-ci/issues/4729)
language: python
python:
    - "3.6"
addons:
    chrome: stable
before_install:
    # Base SoS
    - sudo apt-get update
    - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    # downgrade python if needed
    - conda create -n python_test python=$TRAVIS_PYTHON_VERSION anaconda
    - source activate python_test
    - pip install pyyaml psutil tqdm nose
    - pip install fasteners pygments networkx pydot pydotplus
    - pip install entrypoints jupyter coverage codacy-coverage pytest pytest-cov python-coveralls
    - conda install pandas numpy

    # SoS Notebook
    - sudo apt-get install libmagickwand-dev libmagickcore-dev graphviz
    - pip install jedi notebook nbconvert nbformat pyyaml psutil tqdm scipy imageio pillow selenium
    - pip install pygments ipython wand graphviz sos-bash sos-python
    - pip install git+https://github.com/vatlab/sos.git
    - pip install git+https://github.com/vatlab/sos-notebook.git
    - python -m sos_notebook.install
    - pip install markdown-kernel
    - python -m markdown_kernel.install

    # selenium
    - LATEST_CHROMEDRIVER_VERSION=`curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE"`
    - curl "https://chromedriver.storage.googleapis.com/${LATEST_CHROMEDRIVER_VERSION}/chromedriver_linux64.zip" -O
    - unzip chromedriver_linux64.zip -d $HOME/miniconda/bin

    # R
    - conda install -c conda-forge r-irdisplay r-irkernel r-arrow r-dplyr r-markdown r-rmarkdown r-knitr r-yaml r-htmltools r-catools r-base64enc r-stringr r-backports r-rprojroot r-ggplot2 pandoc
    # version 0.4.0 uses pyarrow and jemalloc, which causes an error message
    # ImportError: /home/travis/miniconda/envs/python_test/lib/python3.5/site-packages/pyarrow/../../.././libjemalloc.so.2: cannot allocate memory in static TLS block
    - conda install -c conda-forge feather-format
    #=0.3.1

sudo: required
services:
    - docker
install: "pip install . -U"
before_script:
    - cd test
script:
    - pytest -v  --cov-report=xml

after_success:
    - coverage combine
    - coveralls

notifications:
    email:
        recipients:
            - ben.bob@gmail.com
        on_success: never
        on_failure: always
